//base
@import 'base/base';
@import 'base/vars';

//layout
@import 'layout/Sidebar';
@import 'layout/AppHeader';
@import 'layout/PageContent';

//pages
@import 'pages/auth/Login';
@import 'pages/dashboard/AdminDashboard';
@import 'pages/settings/AdminSettings';
@import 'pages/upload/UploadPage';
@import 'pages/upload/UploadingLoader';
@import 'pages/upload/AIProcessing';
@import 'pages/sessions/SessionsPage';
@import 'pages/reports/AdviserReportPage';
@import 'pages/reports/ClientReportPage';
@import 'pages/reports/SummaryReportPage';
@import 'pages/reports/ReportsPage';
//cmps
@import 'cmps/LangSelect';
@import 'cmps/OriginalTranscriptModal';
